doctype html
html
  head
    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
    link(rel='stylesheet', type='text/css', href='page_post.css')
    script.
      $(document).ready(function(){
      $(".dropdown-button").dropdown();
      })
    meta(charset='utf-8')
    title Mipmip
  body.bg(style='width:100%;')
    img.bg-image(src='aa.jpg')
    // Dropdown Structure
    ul#dropdown1.dropdown-content
      li
        a(href='#!') การ์ตูน
      li
        a(href='#!') กีฬา
      li
        a(href='#!') ข่าว
      li
        a(href='#!') เกมส์
      li
        a(href='#!') บันเทิง
      li
        a(href='#!') ความรู้
      li
        a(href='#!') รถ
      li
        a(href='#!') การเมือง
      //
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    nav
      .nav-wrapper
        a.brand-logo(href='#!')
          i.large.material-icons comment
        ul.right.hide-on-med-and-down
          li
            i.material-icons perm_contact_calendar
          li
            h6(style='color: yellow') user
          // Dropdown Trigger
          li
            a.dropdown-button(href='#!', data-activates='dropdown1')
              | ประเภท
              i.material-icons.right arrow_drop_down
    div(style='position: absolute;height: 100%;background-color:#ffcc80 ;left:25%;width: 50%;')
      | sdsd
      br
      |       sdsd
      br
      |       sdsd
      br
      |       sdsd
      br
      |       sdsd
      br
