doctype html
// placeholder="Name"
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='css/page_signin.css')
  body.bg(style='width:100%;')
    img.bg-image(src='images/5.png')
    form(action='/page_1', method='post')
      .form-login
        input.textbox(name='m_email',type='email', placeholder='E-mail', required='email')
        br
        br
        input.textbox(name='m_pass' ,type='password', placeholder='Password')
        br
        br
        input.myButton(type='submit', value='SIGN IN')
        input.myButton(type='button',onclick="window.location.href='/sign_up'", value='SIGN UP')