.nav-wrapper{
    background-color:#3e2723;

}
body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
.bg-image {
    position: absolute;
    z-index: -1;
    top: 0px;
    width: 100%;
    height: 100%;
}