doctype // placeholder="Name"
html(lang='en')
head
  meta(charset='utf-8')
    |     
    link(rel='stylesheet', type='text/css', href='page_signin.css')
  body.bg(style='width:100%;')
    img.bg-image(src='5.png')
    |     
    form
      .form-login
        input.textbox(type='email', placeholder='E-mail', required='email')
        |             
        br
        |             
        br
        |             
        input.textbox(type='password', placeholder='Password')
        |             
        br
        |             
        br
        |             
        input.myButton(type='submit', value='SIGN IN')
        |  &nbsp;
        |             
        input.myButton(type='submit', value='SIGN UP')
